img{
    width: 50px;
}
img {
    
    -webkit-transition: -webkit-transform .8s ease-in-out;
            transition:         transform .8s ease-in-out;
  }
  img:hover {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 250px;
    
}
div :hover {
    margin-top: -12px;
}

body{
    background-color: antiquewhite;
}
